# Application
# ignore everything in the "wp-content" directory, except:
# mu-plugins, plugins, and themes directories
wp-content/*
!wp-content/plugins/
!wp-content/themes/
wp-content/themes/*
wp-config.php
*.sql
.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# track these mu-plugins, plugins, and themes
# add your own entries here
!wp-content/themes/theme1/
!wp-content/themes/theme1-child/
