# Application
# ignore everything in the "wp-content" directory, except:
# themes directory
wp-content/*
!wp-content/themes/
wp-content/themes/*

wp-config.php
*.sql
.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# track these themes
# add your own entries here
!wp-content/themes/theme1/
!wp-content/themes/theme1-child/
